@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model IEnumerable<AnilUniversity.Models.Student>

@{
    ViewData["Title"] = "Student Applications";
}

<h2>Student Applications</h2>
<a asp-action="ExportExcel" class="btn btn-success mb-3">
    Export Excel
</a>
<a asp-action="StudentReport"
   class="btn btn-danger mb-3">
    Download PDF Report
</a>
<a asp-action="CourseReport"
   class="btn btn-info mb-3">
    Course Wise Report
</a>
<a asp-action="DateReport"
   class="btn btn-dark mb-3">
    Date Wise Report
</a>
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}

<form method="get" class="row mb-3">

    <div class="col-md-4">
        <input type="text"
               name="searchString"
               class="form-control"
               placeholder="Name / Application No / Mobile"
               value="@Context.Request.Query["searchString"]" />
    </div>

    <div class="col-md-3">
        <select name="courseId"
                asp-items="ViewBag.CourseId"
                class="form-select">
            <option value="">All Courses</option>
        </select>
    </div>

    <div class="col-md-3">
        <select name="status" class="form-select">
            <option value="">All Status</option>
            <option value="Pending">Pending</option>
            <option value="Approved">Approved</option>
            <option value="Rejected">Rejected</option>
        </select>
    </div>

    <div class="col-md-2">
        <button type="submit" class="btn btn-primary w-100">
            Search
        </button>
    </div>

</form>

<table id="studentTable" class="table table-bordered table-striped">

    <thead class="table-dark">
        <tr>
            <th>Application No</th>
            <th>Name</th>
            <th>Course</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td>@item.ApplicationNo</td>
                <td>@item.FullName</td>
                <td>@item.Course?.CourseName</td>
                <td>@item.Mobile</td>
                <td>@item.Email</td>

                <td>
                    @if (item.Status == "Pending")
                    {
                        <span class="badge bg-warning">Pending</span>
                    }
                    else if (item.Status == "Approved")
                    {
                        <span class="badge bg-success">Approved</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">Rejected</span>
                    }
                </td>

                <td>
                    <a asp-action="Details"
                       asp-route-id="@item.StudentId"
                       class="btn btn-info btn-sm">
                        Details
                    </a>

                    <a asp-action="Print"
                       asp-route-id="@item.StudentId"
                       class="btn btn-success btn-sm">
                        Print
                    </a>
                    <a asp-action="Edit"
                       asp-route-id="@item.StudentId"
                       class="btn btn-warning btn-sm">
                        Edit
                    </a>
                    <a asp-controller="Payment"
                       asp-action="Create"
                       asp-route-studentId="@item.StudentId"
                       class="btn btn-success btn-sm">
                        Fee Payment
                    </a>
                    <a asp-action="UpdateStatus"
                       asp-route-id="@item.StudentId"
                       class="btn btn-warning btn-sm">
                        Update Status
                    </a>
                    <a asp-controller="Payment"
                       asp-action="History"
                       asp-route-studentId="@item.StudentId"
                       class="btn btn-primary btn-sm">
                        Payment History
                    </a>
                    <a asp-action="IdCard"
                       asp-route-id="@item.StudentId"
                       class="btn btn-dark btn-sm">

                        ID Card

                    </a>
                    @* <a asp-action="Approve"
                       asp-route-id="@item.StudentId"
                       class="btn btn-success">
                        Approve
                    </a> *@
                    <a asp-action="Delete"
                       asp-route-id="@item.StudentId"
                       class="btn btn-danger btn-sm delete-btn">
                        Delete
                    </a>
                
                   
                </td>

            </tr>
        }

    </tbody>

</table>
@section Scripts {

    <script>

        $(document).ready(function () {

            if ($.fn.DataTable.isDataTable('#studentTable')) {
                $('#studentTable').DataTable().destroy();
            }

            $('#studentTable').DataTable({

                responsive: true,
                pageLength: 10,

                searching: true,
                ordering: true,
                paging: true,
                info: true,

                language:{
                    search:"Search Student : ",
                    lengthMenu:"Show _MENU_ Entries",
                    info:"Showing _START_ to _END_ of _TOTAL_ Students"
                }

            });

        });

    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        $('.delete-btn').click(function (e) {

        e.preventDefault();

        var url = $(this).attr('href');

        Swal.fire({
        title: 'Delete Student?',
        text: "This record will be permanently deleted.",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#3085d6',
        confirmButtonText: 'Yes, Delete'
        }).then((result) => {

        if (result.isConfirmed) {
        window.location.href = url;
        }

        });

        });
    </script>

}